{% extends '../home.html' %}

{% block js %}
    <script type="text/javascript" src="/chat/chatUtils.js"></script>
{% endblock %}

{% block activeTab %}
<a type="button" class="btn btn-primary navbar-btn" href="/login">Login</a>
<a type="button" class="btn btn-primary navbar-btn" href="/signup">Signup</a>
{% endblock %}

{% block content %}
<div class="container">
    <h2>{{language}}</h2>
    <div class="row">
        <div class="col-md-8">
            <h3 id="chat-status">Searching For Language Partner...</h3>
            <a id="newChat" href="javascript:history.go(0)" class="btn btn-warning">New Chat</a>
            <div id="chatEntries"></div>
            <form class="form-inline" id="chatControls">
                <textarea type="text" rows="3" id="messageInput" class="form-control"></textarea>
            </form>
        </div>
        <div class="col-md-4">
            <h3>Translation Help</h3>
        </div>
    </div>
</div>
{% endblock %}