extends ../home


block js
    script(type='text/javascript' src="/chat/chatUtils.js")

block content
    div.container
        h2 #{language}

        div.container
            div.row
                div.col-md-8
                    h3#chat-status Searching For Language Partner...
                    a#newChat(href='javascript:history.go(0)').btn.btn-warning New Chat
                    div#chatEntries
                    form.form-inline#chatControls
                        textarea(type='text' rows="3")#messageInput.form-control
                div.col-md-4
                    h3 Translation Help
