<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Forechat</title>
    {% block head %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="/main.css">
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
    <div class="container">
    {% block header %}
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">ForeChat</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav registration-links">
                        {% block activeTab %}
                        <a type="button" class="btn nav-fore-btn navbar-btn" href="/login">Login</a>
                        <a type="button" class="btn nav-fore-btn navbar-btn" href="/signup">Signup</a>
                        {% endblock %}
                    </ul>

                </div>
            </div>
        </nav>
    {% endblock %}
    {% block content %}
        <div class="row">
        <div class="col-md-4">
            <div class="well fore-well">
                <h3 style="text-align: center;">Start Chatting In The Language Of Your Dreams!</h3>
                <hr>
                <h4>Directions:</h4>
                <h5>1) Pick the language you want to talk in.</h5>
                <h5>2) Select your skill level at that language.</h5>
                <h5>3) Start a one on one conversation!</h5>
            </div>
        </div>
        <div class="col-md-8">
            {% for index, language in languages %}
            <a id="start-{{language}}" class="btn btn-lg language-btn">{{ language }}</a>
            <div id="{{language}}dropdown"></div>
            {% endfor %}
        </div>
        </div>
    </div>

    <script>
        {% for index, language in languages %}
            var {{language}}toggle = false;
            var {{language}}disabled = false;
            var {{language}}checking = false;
            var {{language}}nativeIsChecked = false;
            console.log({{language}}toggle);
            $('#start-{{ language}}').on('click', function () {
                var self = this;
                console.log(self);
                if (!{{language}}disabled) {
                    {{language}}disabled = true;
                    if (!{{language}}toggle) {
                        $('#start-{{ language}}').append(
                                '<div class="skill-container">' +
                                '<a id="beginner-{{language}}" class="btn btn-info skill-btn" href="/chat/{{language}}/beginner/0">Beginner</a>' +
                                '<a id="intermediate-{{language}}" class="btn btn-warning btn-right-skill-level skill-btn" href="/chat/{{language}}/intermediate/0">Intermediate</a>' +
                                '<a id="advanced-{{language}}" class="btn btn-danger btn-right-skill-level skill-btn" href="/chat/{{language}}/advanced/0">Advanced</a>' +
                                '<a id="native-{{language}}" class="btn btn-right-skill-level btn-purp skill-btn" href="/chat/{{language}}/native/0">Native</a>' +
                                '</div><div class="native-container">' +
                                '<form><div class="checkbox"><label class="languageCheckLabel" id="{{language}}checkboxlabel"><input type="checkbox" class="bigCheckbox" id="{{language}}checkbox">Also match me with native speakers</label></div></form>' +
                                '</div>'

                        );

                        $('#{{language}}checkbox, #{{language}}checkboxlabel').click(function() {
                            console.log("checkbox");
                            {{language}}checking = true;
                            if ({{language}}nativeIsChecked == false) {
                                console.log('false');
                                $('#beginner-{{language}}').attr('href', $('#beginner-{{language}}').attr('href').substring(0, $('#beginner-{{language}}').attr('href').length - 2) + '/1');
                                $('#intermediate-{{language}}').attr('href', $('#intermediate-{{language}}').attr('href').substring(0, $('#intermediate-{{language}}').attr('href').length - 2) + '/1');
                                $('#advanced-{{language}}').attr('href', $('#advanced-{{language}}').attr('href').substring(0, $('#advanced-{{language}}').attr('href').length - 2) + '/1');
                                $('#native-{{language}}').attr('disabled', true);
                                {{language}}nativeIsChecked = true;
                            }
                            else {
                                $('#beginner-{{language}}').attr('href', $('#beginner-{{language}}').attr('href').substring(0, $('#beginner-{{language}}').attr('href').length - 2) + '/0');
                                $('#intermediate-{{language}}').attr('href', $('#intermediate-{{language}}').attr('href').substring(0, $('#intermediate-{{language}}').attr('href').length - 2) + '/0');
                                $('#advanced-{{language}}').attr('href', $('#advanced-{{language}}').attr('href').substring(0, $('#advanced-{{language}}').attr('href').length - 2) + '/0');
                                $('#native-{{language}}').attr('disabled', false);
                                {{language}}nativeIsChecked = false;

            }
                        });

                        {{language}}toggle = true;
                    }
                    else {
//                        setTimeout(function() {
                            if (!{{language}}checking) {
                            $('#start-{{ language}}').empty().append('{{language}}');
                            {{language}}toggle = false;
                            {{language}}nativeIsChecked = false;
                            }
//                        }, 10)

                    }
                    {{language}}disabled = false;
                    {{language}}checking = false;
                };
            });




        {% endfor %}
    </script>


</body>
</html>
