{% extends './home.html' %}

{% block activeTab %}
<a type="button" class="btn nav-fore-btn-active navbar-btn" href="/login">{{ __("Login")}}</a>
<a type="button" class="btn nav-fore-btn navbar-btn" href="/signup">{{ __("Signup2")}}</a>
{% endblock %}

{% block js %}
<script>
    $(function () {
        $("#login-email").focus();
    });
</script>
{% endblock %}

{% block content %}
    <div class="col-md-6 col-md-offset-3 fore-theme">
        <h1><span class="fa fa-sign-in"></span> {{ __("Login")}}</h1>

        <!-- show any messages that come back with authentication -->
        {% if message.length > 0  %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endif %}

        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div class="form-group">
                <label>{{ __("Email")}}</label>
                <input type="text" class="form-control" name="email" id="login-email">
            </div>
            <div class="form-group">
                <label>{{ __("Password")}}</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">{{ __("Login")}}</button>
        </form>

        <hr>

        <p>{{ __("Need an account?")}} <a href="/signup">{{ __("Signup")}}</a></p>
        <p>{{ __("Or go")}} <a href="/">{{ __("home")}}</a>.</p>
    </div>

{% endblock %}