{% extends './home.html' %}

{% block activeTab %}
<a type="button" class="btn nav-fore-btn-active navbar-btn" href="/login">Login</a>
<a type="button" class="btn nav-fore-btn navbar-btn" href="/signup">Signup</a>
{% endblock %}

{% block js %}
<script>
    $(function () {
        $("#login-email").focus();
    });
</script>
{% endblock %}

{% block content %}
    <div class="col-md-6 col-md-offset-3 fore-theme">
        <h1><span class="fa fa-sign-in"></span> Login</h1>

        <!-- show any messages that come back with authentication -->
        {% if message.length > 0  %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endif %}

        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email" id="login-email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>

        <hr>

        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p>
    </div>

{% endblock %}