
/*body {*/
  /*background-color: #f0e68c;*/
/*}*/



.language-container {
    margin-top: 30px;
}

#chat-status {
    text-align: center;
}

#chatEntries {
    width: 100%;
    color: rgb(0, 68, 114);

    overflow: auto;
}

.chatEntriesClass1 {
    height: 86%;

}

.chatEntriesClass2 {
    height: 100%;

}

#chatContainer {
    border: 1px solid rgb(0, 68, 114);
    height: 500px;
    width: 100%;
    color: rgb(0, 68, 114);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 2px 20px 20px 20px;

}

.chatTopic {
    text-align: center;
}

#chatTopicContainer {
    margin-top: -10px;

}

.cutoff-hr {
    margin-bottom: 10px;
    margin-top: 0px;
}

#messageInput {
    resize: none;
    width: 100%;
}


#chatControls {
    margin-bottom: 30px;
}

#newChat {
    float: right;
    margin-top: -40px;
    z-index: 5;
    position: relative;
}


.message {
    font-size: 16px;
}

.warning-message{
    color: red;
}

.language-btn {
    min-width: 535px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #ffffff;
    border-color: rgb(131, 190, 230);
    color: rgb(0, 68, 114);
}

.language-btn:hover {
    background-color: rgb(250, 220, 124);
    border-color:rgb(131, 190, 230);
    color: rgb(0, 68, 114);
}

.skill-btn {
    min-width: 110px;
}

.btn-right-skill-level {
    margin-left: 20px;

}

.skill-container {
    margin-top: 10px;
    margin-bottom: 20px;

}

.native-container {

}

.btn-purp {
    background-color: #BD72E7;
    border-color: #BD72E7;
    color: white;
}

.btn-purp:hover {
    color: white;
    background-color: #AC50DF;
    border-color: #AC50DF;
}

.bigCheckbox {
    height:23px;
    width:23px;
}

.languageCheckLabel {
    margin-left: -215px;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-top: -1px;
    margin-right: 6px;
}

.registration-links {
    /*margin-left: 30%;*/
    font-size: 16px;
    float: right
}

.navbar-brand {
    font-size: 30px;
}

.checkbox {
    display: inline-block;
}

.checkbox label {
    display: inline-block;
}

#proficiency-review {
    margin-left: 20px;
}

#satisfaction-review {
    margin-left: 20px;
}

#review-thankyou {
    display: none;
}

#reviewContainer {
    display: none;
}

#profReviewContainer {
    margin-bottom: 5px;
}

.nav-fore-btn {
    background-color: black;
    color: white;
    border-color: #ffffff;
}

.nav-fore-btn:hover {
    background-color: rgb(250, 207, 96);
}

.nav-fore-btn-active {
    background-color: orange;
    color: white;
    border-color: orange;
}

.navbar-inverse .navbar-brand {
     color: rgb(250, 207, 96);
 }

.navbar-inverse:hover .navbar-brand:hover {
    color: rgb(250, 162, 28);
}

.fore-well {
    border-color: rgb(131, 190, 230);
    color: rgb(0, 68, 114);
}

.fore-theme {
    border-color: rgb(131, 190, 230);
    color: rgb(0, 68, 114);
}

.edit-input {
    border-radius: 5px;
    width: 245px;
    color: rgb(0, 68, 114);
}

.clickable {
    cursor: pointer;
}


.popover {
    border: 1px solid rgb(0, 68, 114);
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-color: rgb(0, 68, 114);
    border-width: 5px 5px 0;
}
.tooltip-inner {
    color: rgb(250, 207, 96);
    font-size: 14px;
    background: rgb(0, 68, 114);
    border: solid 1px rgb(250, 207, 96);
}

#relatedWords {
    margin-top: 107px;
    color: rgb(0, 68, 114);
}

#dash-left-column {
    margin-left: 15px;
}

#dash-right-column {
    margin-left: -30px;
}

.course-container {
    height: 130px;
    width: 48%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 10px;
    border: 1px solid rgb(0, 68, 114);
    border-radius: 5px;
}

.course-container:hover {
    background-color: rgb(250, 225, 140);
}

.course-header {
    font-size: 16px;
}

.course-hr {
    margin-bottom: 10px;
}

.btn-default {
    border-color: rgb(0, 68, 114);
}
.btn-default:hover {
    border-color: rgb(0, 68, 114);
}

#addTopicBtn {
    margin-top: 30px;
}

.topic {
    border-bottom: 1px solid rgb(0, 68, 114);
    margin-bottom: 25px;
    padding-bottom: 15px;
}

.lessonbuilder-well {
    padding-bottom: 40px;
}

#saveLessonBtn {
    float: right;
    margin-right: 15px;
}

.languageLabel {
    text-align: center;
}

.lesson-content {
    margin-bottom: 15px;
}

.right-content {
    visibility: hidden;
}

.btn-course {
    width: 110px;
}

@media only screen and (max-width: 992px) {
    #relatedWords {margin-top: 0px;}
    #dash-left-column {
        margin-left: 0px;
    }

    #dash-right-column {
        margin-left: 0px;
    }
}








