.language-container {
    margin-top: 30px;
}

#chat-status {
    text-align: center;
}

#chatEntries {
    height: 500px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;
    overflow: auto;
}

#messageInput {
    resize: none;
    width: 100%;
}


#chatControls {
    margin-bottom: 30px;
}

#newChat {
    float: right;
    margin-top: -40px;
    z-index: 5;
    position: relative;
}


.message {
    font-size: 16px;
}

.warning-message{
    color: red;
}

.language-btn {
    min-width: 535px;
    margin-bottom: 10px;
}

.skill-btn {
    min-width: 110px;
}

.btn-right-skill-level {
    margin-left: 20px;

}

.skill-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-purp {
    background-color: #BD72E7;
    border-color: #BD72E7;
    color: white;
}

.bigCheckbox {
    height:23px;
    width:23px;
}

.languageCheckLabel {
    margin-left: -200px;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-top: -1px;
}